*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-size: 100%;
}

a {
	text-decoration: none;
}

ul {
	list-style-type: none;
}

header {
	background-color: #0020F4;
}

a {
	color: #FFFFFF;
}

.logo {
	vertical-align: middle;
	padding-right: 350px;
	padding: 20px;
}
.navbar, ul,li {
	display: inline-block;
	vertical-align: middle;
	padding-left: 18px;
}

.about {
	width: 800px;
 	margin: 0 auto;

}

.contact {
	background-color: #FFFFFF;
	color: #171717;
	padding: 10px;
	border-radius: 28px;
}

.image {
	width: 100%;
	margin-bottom: 30px;
	margin-top: 0px;
}

h2 {
	font-family: 'BPG Mikheil Stefane', sans-serif;
}

div > img {
	div > img 
	margin-top: 60px;
	margin-bottom: 60px;
	border-radius: 15px;
	width: 100px;
}

div > p {
	color: #171717;
 	padding: 20px;
}

button {
	color: white;
	background-color: blue;
	border-radius: 28px;
	width: 341px;
	height: 30px;
	margin-left: 250px;
	margin-bottom: 60px;
}

footer{
	background-color: #0A22F4;
}

footer > div {
	width: 800px;
	margin: auto;
	color: #FFFFFF;
}

.about-us {
	font-family: 'BPG Mikheil Stefane',sans-serif;
	color: #FFFFFF;
}

iframe {
	width: 400px;
	height: 200px;
}

span > p{
	display: inline;
	vertical-align: middle;
}

.send {
	padding-left: 800px;
	display: inline-block;

}