*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-size: 100%;
}

a {
	text-decoration: none;
}

ul {
	list-style-type: none;
}

header {
	background-color: #0020F4;
}

.logo {
	padding: 20px;
}

a {
	color: #FFFFFF;
}

.logo {
	vertical-align: middle;
	padding-right: 350px;
}
.navbar, ul,li {
	display: inline-block;
	vertical-align: middle;
	padding-left: 18px;
}

.about {
	width: 800px;
 	margin: 0 auto;

}

.contact {
	background-color: #FFFFFF;
	color: #171717;
	padding: 10px;
	border-radius: 28px;
}

.image {
	width: 100%;
	margin-bottom: 30px;
	margin-top: 0px;
}

h2 {
	font-family: 'BPG Mikheil Stefane', sans-serif;
}